:root {
    --primary-color: #483102;
    --secondary-color: #7b5112;
    --third-color: #246516;
    --black-border: 1px solid rgb(0 0 0);
    --heading-font: "Arial", "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --text-color1: #fff;




}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, footer {
  width: 840px;
  margin: 0 auto;

}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}





nav a{
  text-decoration: none;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 700;
  
}

header {
  background-color: var(--third-color);
  font-family: var(--heading-font);
}

header img {
  width: 250px;
  height: auto;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--body-font);
  color: var(--text-color1)
  
}

main img {
  width: 1120px;
  height: auto;
}

h1 {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: #246516;
  color: #fff;
}


h2 {
  text-align: center;
 
}


section {
  padding: 1rem;
  background-color: var(--primary-color);

}

section p {
  padding: 0px;

}

section figcaption {
  text-align: center;
  font-size: smaller;
}

article {
  position: absolute;
  top:400px;
  padding: 1rem;
  background-color: var(--primary-color);
  opacity: 85%;
  
}


article img {
  width: 200px;
  height: auto;
}


footer {
  border-top: var(--black-border);
  text-align: left;
}

footer img {
  width: 25px;
  height: auto;

}


.socialmedia a {
  text-decoration: none;
  
}

/* Class Section */




.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 125px;
}
.hero article {
  position: absolute;
 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

}


.navigation {
  display: flex;
  list-style: none;
  white-space: nowrap;
  
}

.navigation li {
  flex: 1 1 auto;

}


.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.socialapps {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  
}


.history {
  padding-top: 1rem;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}

.history-img {
  width: 400px;
  height: auto;
  grid-column: 2;
  padding: 2.5rem 1rem 1rem 1rem;
}

.p1 {
  grid-column: 1;
  grid-row-start: 1;
}

.p2 {
  grid-column: 3;
}


.adventure {
  padding-bottom: 1rem;
}

.river-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rivers {
  width: 100px;
  height: auto;
  
}