:root {
  --primary-color: #483102;
  --secondary-color: #654310;
  --third-color: #246516;
  --fourth-color: #33210a;
  --fifth-color: #073608;
  --black-border: 1px solid rgb(0 0 0);
  --heading-font: "Arial", "Times New Roman", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --text-color1: #fff;




}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
body,
footer {
  width: 840px;
  margin: 0 auto;

}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}





nav a {
  text-decoration: none;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color1);

}

header {
  background-color: var(--third-color);
  font-family: var(--heading-font);
}

header img {
  width: 250px;
  height: auto;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--body-font);
  color: var(--text-color1)
}

main img {
  width: 1120px;
  height: auto;
}

h1 {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 16px;
  text-align: center;

  background-color: #246516;
  color: #fff;
}


h2 {
  height: 50px;
  width: auto;
  text-align: center;
  background-color: var(--third-color);
  opacity: 80%;

}


section {
  padding: 1rem;
  background-color: var(--fourth-color);

}

section p {
  padding: 0px;

}

figcaption {
  padding: 2px;
  text-align: center;
  font-size: smaller;
  background-color: #246516aa;
}

article {
  position: absolute;
  top: 400px;
  padding: 1rem;
  background-color: var(--primary-color);
  opacity: 85%;

}


article img {
  width: 200px;
  height: auto;
}


footer {
  border-top: var(--black-border);
  text-align: left;
}

footer img {
  width: 25px;
  height: auto;

}



form {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

input {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

textarea {
  margin-top: .5rem;
}


button {
  background-color: black;
  color: var(--text-color1);
  padding: 5px;
  margin-top: .5rem;
  grid-column: 2;
  border-radius: .5rem;

}

fieldset {
  margin-bottom: 1rem;
  border-color: black;
}

/* Class Section */

.contactbutton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.socialmedia a {
  text-decoration: none;

}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 125px;
  border: var(--black-border);
}

.hero article {
  position: absolute;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

}


.navigation {
  display: flex;
  list-style: none;
  white-space: nowrap;

}

.navigation li {
  flex: 1 1 auto;

}


.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.socialapps {
  display: flex;
  list-style: none;
  justify-content: flex-end;

}


.history {
  padding-top: 0.6rem;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.history-img {
  width: 400px;
  height: auto;
  grid-column: 2;
  padding: 16px;
  margin-top: 24px;
  background-color: var(--primary-color);
  border: var(--black-border);
}

.p1 {
  grid-column: 1;
  grid-row-start: 1;
}

.p2 {
  grid-column: 3;
}


.adventure {
  margin-bottom: 1rem;
  padding-top: 0.6rem;
}

.river-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rivers,
.claro {
  width: 100px;
  height: auto;
  padding: 5px;
  background-color: #7b5112;
  border: var(--black-border);

}


.claro {
  width: 110px;
}

.austral {
  position: relative;
  left: -10px;
}

.maipo {
  position: relative;
  left: -20px;

}

.company {
  display: grid;
  font-size: medium;
  text-align: center;
  grid-template-rows: 100px 1fr;
}

.radio {
  display: flex;
  flex-direction: column;
  
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 0.5rem;
}


.workers {
  margin-top: 1rem;
  width: 200px;
  height: auto;
}

.worker-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.contacth2 {
  text-align: center;
  padding-top: 10px;

}

.h2info {
  padding-top: 10px;
  font-size: 2rem;
}

.contact {
  background-color: var(--fifth-color);
}

.form-size {
  grid-column: 4;
}

.map {
  grid-column: 2;
  grid-row: 2;

}

.map-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 350px 100px;
  margin-bottom: 5rem;
}

.contactsection {
  margin-top: 10rem;
}

.h1info {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.contactcontainer {
  grid-row: 2;
}

.contactname-email, textarea {
  border-radius: .5rem;
  padding: 10px;
}
