* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body p {
    font-size: 1.3rem;

}


header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.3rem;
    color: darkgreen;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgba(7, 3, 89, 0.173);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}


fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1.3rem;
    border: 2px solid rgba(7, 3, 89, 0.173);
    padding: .5rem;
}


label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: left;
    padding-left: 1rem;
    padding: .5rem;
    color: darkcyan;
    font-size: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

button {

    margin: 10px;
    background-color: rgb(11, 11, 69);
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .35rem;
    font-size: .9rem;
}

footer {
    margin: 1rem auto 0;
    padding: .6rem;
    width: 650px;
    font-size: .7rem;
    color: darkgreen;
    text-align: center;
    border-top: 1px solid #ddddddd9
}


/* Class Selectors */

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 4.4fr
}