:root {
    --font-color: #000;
    --border: 1px solid #000

}




main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 250px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /.2);
    padding: 1rem;
    background-color: #c6fb9b;
    color: var(--font-color);
    text-align: justify;
}


aside img {
    width: 200px;
    height: auto;   
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}