* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #000;
    --border: 1px solid #000

}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    display: block;

}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    margin: 20px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 2rem 2rem
}

p {
    margin: 1rem;
    padding: auto;
    text-align: justify;
}

aside {
    width: 20rem;
    color: var(--font-color);
    text-align: justify;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside p {

    margin-top: 1rem;
    text-align: justify;
}

aside img {
    width: 285px;
    height: auto; 
    
    
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 136px;
    font-size: 1.2rem;
}

footer p {
    margin-top: 15px;
    border-top: var(--border);
    padding: 1rem;
    text-align: center
    
}





/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.special {

    padding-left: 2rem;
    margin-top: 20%;
    
}


.grid {
   display: grid;
   align-items: center;

}